$colorCyan: hsl(180, 66%, 49%);
$colorDarkViolet: hsl(257, 27%, 26%);
$colorRed: hsl(0, 87%, 67%);
$colorGray: hsl(0, 0%, 75%);
$colorGrayOpacity: hsla(0, 0%, 75%, 0.505);
$colorGrayishViolet: hsl(257, 7%, 63%);
$colorVeryDarkBlue: hsl(255, 11%, 22%);
$colorVeryDarkViolet: hsl(260, 8%, 14%);
